<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("icon.jpg", alt: "logo", class: 'app-icon')%>
  <% end %>
  <%= link_to root_path, class: "nav-link app-name" do %>
    <%= I18n.t("app.name") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <%= login_logout_path %>
    </div>
  </div>
</nav>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> text-center flash-msg">
    <%= value %>
  </div>
<% end %>
 