<div class="container-fluid text-center">
  <div class="align-info">
    <%= image_tag @user_info["profile_picture"], class: "rounded-circle align-profile-pic" %>
    <div class="info-username">
      <%= @user_info["full_name"] %>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 extra-info">
      <div class="align-count-info">
        <div class="count-info"><%= @user_info["counts"]["media"] %></div>
        <span class="count-txt">
          <%= pluralize_word(I18n.t('app.post'), @user_info["counts"]["media"]) %>
        </span>
      </div>

      <div class="align-count-info">
        <div class="count-info"><%= @user_info["counts"]["follows"] %></div>
        <span class="count-txt">
          <%= pluralize_word(I18n.t('app.following'), @user_info["counts"]["follows"]) %>
        </span>

      </div>

      <div class="align-followed-info">
        <div class="count-info"><%= @user_info["counts"]["followed_by"] %></div>
        <span class="count-txt">
          <%= pluralize_word(I18n.t('app.follower'), @user_info["counts"]["followed_by"]) %>
        </span>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container text-center user-pictures">
  <div class="feed-heading">
    <%= I18n.t("app.picture_feeds") %>
  </div>

  <%= render 'picture_feeds' %>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="full_view_image">
  <div id="caption"></div>
</div>
