<div class="container-fluid text-center">
  <div class="container">
    <div class="login-form-heading align-login">
      <h1><%= I18n.t("app.login_to_your_account") %></h1>
    </div>

    <div class="row text-center">

      <div class="col-md-4"></div>
      <div class="col-md-4 login-div">
        <div class="login-frm-hdr">
          <%= image_tag("icon.jpg", alt: "logo", class: 'rounded-circle login-logo') %>
          <%= I18n.t("app.name") %>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.text_field :user_name, :label => false, placeholder: I18n.t("app.enter_username") + " *", autocomplete: "off", class: "form-control align-field", "data-validate-error": true, "data-error-msg": f.object.errors[:user_name][0] %>

          <%= f.password_field :password, :label => false, autocomplete: "off", placeholder: I18n.t("app.enter_password") + " *", class: "form-control align-field", "data-validate-error": true, "data-error-msg": f.object.errors[:password][0]  %>

          <%= f.submit I18n.t("app.login"), class: "form-submit" %>

        <% end %>

        <div class="or-line"><span><%= I18n.t("app.or") %></span></div>

        <%= instagram_button %>

        <div class="dont-have-account">
          <%= I18n.t("app.dont_have_account") %>
          <%= link_to I18n.t("app.sign_up"), root_url, class: "form-signup-btn" %>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
